@using Domain.Entities
@model List<Web.Models.ProjectosCriadosViewModel>
@{
    ViewBag.Title = "Gestão de Projectos";
}

<!-- welcome section -->
<!--breadcumb start here-->
<section class="xs-inner-welcome-section fundpress-inner-welcome-section fundpress-inner-bg-1 parallax-window" data-parallax="scroll" data-image-src="/Content/images/background/about_us_bg.png">
    <div class="xs-solid-overlay xs-bg-black"></div>
    <div class="container">
        <div class="fundpress-inner-welcome-content">
            <h2 class="color-white">Gestão dos projectos</h2>
        </div>
    </div>
</section>
<!--breadcumb end here--><!-- End welcome section -->

<main class="xs-all-content-wrapper">
    <section class="xs-content-section-padding xs-dashboard-section">
        <div class="container">
            <div class="row">
                @foreach (var projecto in Model)
                {
                    <div class="col-lg-12" style="margin-bottom: 32px;">
                        <div class="xs-campaign-info-card">
                            <div class="xs-dashboard-header">
                                <h3 class="dashboard-title">@projecto.Titulo | Estado: @projecto.Estado.ToString() <span>@projecto.Autor</span></h3>
                                <div class="xs-btn-wraper">
                                    @Html.ActionLink("Vizualizar", "Previsualizar", "Projectos", new {id = projecto.Id}, new {@class = "btn btn-outline-success"})
                                    @if (projecto.Estado == Estado.Analise)
                                    {
                                        @Html.ActionLink("Devolver", "DevolverCampanha", "Dashboard", new { id = projecto.Id }, new { @class = "btn btn-outline-success" })
                                        @Html.ActionLink("Publicar", "PublicarCampanha", "Dashboard", new {id = projecto.Id}, new {@class = "btn btn-outline-success"})
                                    }
                                    @if (projecto.Estado == Estado.Publicado)
                                    {
                                        @Html.ActionLink("Ocultar", "OcultarCampanha", "Dashboard", new {id = projecto.Id}, new {@class = "btn btn-outline-success"})
                                    }@*@(projecto.Estado == Estado.Publicado ? Html.ActionLink("Publicar", "Detalhe", "Projectos", new {id = projecto.Id}, new {@class = "btn btn-outline-success"}) : Html.ActionLink("Editar", "Editar", "Projectos", new {id = projecto.Id}, new {@class = "btn btn-outline-success"}))*@
                                    @if (projecto.Estado == Estado.Ocultado)
                                    {
                                        @Html.ActionLink("Dar visibilidade", "TornarVisivel", "Dashboard", new { id = projecto.Id }, new { @class = "btn btn-outline-success" })
                                    }
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="xs-campaign-card">
                                        <h5>@projecto.Id </h5>
                                        <h6>Referência da campanha</h6>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <a href="/Dashboard/DetalheProjecto/@projecto.Id">
                                        <div class="xs-campaign-card card-primary">
                                            <h5>@projecto.Titulo</h5>
                                            <h6>Titulo</h6>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <div class="xs-campaign-card">
                                        <h5>55 %</h5>
                                        <h6>execução</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- info cards -->
                }
            </div>
        </div>
    </section>
</main>